<html style="width: 100%">
    <head>
        {% load static %}
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript">
        var featureSampleT = [];
        var featureSampleX = [];
        var featureSampleY = [];
        var featureStartIndex = 0;
        var featureEndIndex = 0;
        var featureRangeT = [];
        var featureRangeX = [];
        var featureRangeY = [];

        var data = {
            datasets: [{
                label: "Data",
                fill: false,
                pointBackgroundColor: "rgba(220,100,100,255)",
                borderColor: "rgba(160,100,100,255)",
                lineTension: 0.0,
                data: []
            }, {
                label: "Sample",
                fill: false,
                pointBackgroundColor: "#AAA",
                borderColor: "rgba(0,0,0,0)",
                lineTension: 0.0,
                data: []
            }]
        };

        var chart;

        var recording_files = {
            None: '',
            {% for recording in recordings %}
            {{ recording.id }}: '{% static recording.filename %}',
            {% endfor %}
        };

        var recording_features = {
            None: [],
            {% for recording in recordings %}
            {{ recording.id }}: [
                {% for feature in recording.feature.all %}
                '{{ feature.feature }}',
                {% endfor %}
            ],
            {% endfor %}
        };

        function updateDataset() {
            var id = $("#recording_id_option").val();
            $("#recording_audio").attr("src", recording_files[id]);
            var features = recording_features[id];
            $("#feature_option").empty();
            for (var i = 0; i < features.length; ++i) {
                $("#feature_option").append($("<option>", {
                    value: features[i],
                    text: features[i]
                }));
            }
        }

        function updatePosition() {
            var time = $("#recording_audio")[0].currentTime;
            if (featureRangeT.length == 0 || featureRangeT[0] > time || featureRangeT[featureRangeT.length - 50] < time) {
                $("#recording_audio")[0].pause();
                $("#loading").show();
                getFeatureSample();
                getFeatureRange();
            } else {
                updateChart();
            }
        }

        function updateChart() {
            var time = $("#recording_audio")[0].currentTime;
            for (featureEndIndex = 0; featureEndIndex < featureRangeT.length && featureRangeT[featureEndIndex] < time; ++featureEndIndex) {}
            featureStartIndex = featureEndIndex - $("#length").val();
            chart.data.datasets[0].data = [];
            for (var i = featureStartIndex; i < featureEndIndex; ++i) {
                chart.data.datasets[0].data.push({
                    x: featureRangeX[i],
                    y: featureRangeY[i]
                });
            }
            chart.update();
            $("#loading").hide();
        }

        function getFeatureSample() {
            $.ajax({
                type: "GET",
                url: "visualize_feature",
                dataType: "json",
                data: {
                    recording_id: $("#recording_id_option").val(),
                    feature: $("#feature_option").val(),
                    sample: true,
                    limit: $("#sample").val(),
                    method: $("#method_option").val()
                },
                success: function(data) {
                    featureSampleT = data.t;
                    featureSampleX = data.x;
                    featureSampleY = data.y;
                    chart.data.datasets[1].data = [];
                    for (var i = 0; i < data.t.length; ++i) {
                        chart.data.datasets[1].data.push({
                            x: data.x[i],
                            y: data.y[i]
                        });
                    }
                    chart.update();
                }
            });
        }

        function getFeatureRange() {
            $.ajax({
                type: "GET",
                url: "visualize_feature",
                dataType: "json",
                data: {
                    recording_id: $("#recording_id_option").val(),
                    feature: $("#feature_option").val(),
                    start: $("#recording_audio")[0].currentTime,
                    limit: $("#buffer").val(),
                    method: $("#method_option").val()
                },
                success: function(data) {
                    featureRangeT = data.t;
                    featureRangeX = data.x;
                    featureRangeY = data.y;
                    updateChart();
                }
            });
        }

        function displayPoint(elements) {
            if (elements.length > 0 && featureSampleX.length > 0 && elements[0]._datasetIndex == 1) {
                $("#point_label").text("");
                var i = elements[0]._index;
                var t = featureSampleT[i];
                var x = featureSampleX[i];
                var y = featureSampleY[i];
                $("#point_label").text(t.toFixed(0) + "s (" + x.toFixed(2) + ", " + y.toFixed(2) + ")");
            } else if (featureRangeX.length > 0) {
                $("#point_label").text("");
                var i = featureStartIndex;
                if (elements.length > 0) {
                    i += elements[0]._index;
                }
                var t = featureRangeT[i]
                var x = featureRangeX[i];
                var y = featureRangeY[i];
                $("#point_label").text(t.toFixed(0) + "s (" + x.toFixed(2) + ", " + y.toFixed(2) + ")");
            }
        }

        $().ready(function() {
            var ctx = $("#myChart");
            chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    title: {
                        display: true,
                        text: "Data Visualizer"
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom'
                        }]
                    },
                    tooltips: {
                        enabled: false
                    },
                    hover: {
                        onHover: displayPoint
                    },
                    animation: false
                }
            });
            $("#recording_audio").bind("timeupdate", updatePosition);
        });
        </script>
    </head>
    <body style="width: 100%">
        <div id="content" style="margin: 0 auto; width: 640px;">
            <label>Recording Id</label>
            <select id="recording_id_option" onchange="updateDataset()">
                <option value="None">Select Recording</option>
                {% for recording in recordings %}
                <option value="{{ recording.id }}">{{ recording.id }}</option>
                {% endfor %}
            </select>
            <label>Feature</label>
            <select id="feature_option">
            </select>
            <label>Method</label>
            <select id="method_option">
                <option value="None">None</option>
                <option value="PCA">PCA</option>
                <option value="PCA DS">PCA Downsample</option>
            </select>
            <br />
            <label>Length</label>
            <input type="text" id="length" maxlength="5" size="5" value="40" />
            <label>Sample</label>
            <input type="text" id="sample" maxlength="5" size="5" value="300" />
            <label>Buffer</label>
            <input type="text" id="buffer" maxlength="5" size="5" value="1000" />
            <br />
            <canvas id="myChart" width="640" height="480"></canvas>
            <audio controls id="recording_audio" src="" preload="auto"></audio>
            <div id="point_label"></div>
            <div id="loading" style="display: none; position: fixed; top: 400px; left: 300px; background-color: white; border: solid 1px grey;">Loading...</div>
        </div>
    </body>
</html>
