<html style="width: 100%">
    <head>
        {% load static %}
        <style>
select {
    padding: 2px;
    margin: 4px;
}
input {
    padding: 2px;
    margin: 4px;
}
label {
    min-width: 100px;
}
#sidebar {
    margin: 0 2em;
    width: 240px;
    float: left;
}
#content {
     margin: 0 auto;
     width: 600px;
}
#loading {
     display: none;
     position: fixed;
     top: 280px;
     left: 48%;
     background-color: white;
     border: solid 4px grey;
     padding: 4px 12px;
}
        </style>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript">
        var featureSampleT = [];
        var featureSampleX = [];
        var featureSampleY = [];
        var featureStartIndex = 0;
        var featureEndIndex = 0;
        var featureRangeT = [];
        var featureRangeX = [];
        var featureRangeY = [];
        var featureRangeLabels = [];
        var chartIsReady = false;

        var data = {
            datasets: [{
                label: "Data",
                fill: false,
                pointBackgroundColor: "rgba(220,100,100,255)",
                borderColor: "rgba(160,100,100,255)",
                lineTension: 0.0,
                data: []
            }, {
                label: "Sample",
                fill: false,
                pointBackgroundColor: "#AAA",
                borderColor: "rgba(0,0,0,0)",
                lineTension: 0.0,
                data: []
            }]
        };

        var chart;

        var recording_files = {
            None: '',
            {% for recording in recordings %}
            {{ recording.id }}: '{% static recording.mp3_filename %}',
            {% endfor %}
        };

        var recording_features = {
            None: [],
            {% for recording in recordings %}
            {{ recording.id }}: [
                {% for feature in recording.feature.all %}
                '{{ feature.feature }}',
                {% endfor %}
            ],
            {% endfor %}
        };

        function updateRecording() {
            var id = $("#recording_id_option").val();
            $("#recording_audio").attr("src", recording_files[id]);
            var features = recording_features[id];
            $("#feature_option").empty();
            for (var i = 0; i < features.length; ++i) {
                $("#feature_option").append($("<option>", {
                    value: features[i],
                    text: features[i]
                }));
            }
        }

        function updateFeature() {
            var id = $("#recording_id_option").val();
            getFeatureSample();
            updatePosition();
        }

        function updatePosition() {
            var time = $("#recording_audio")[0].currentTime;
            var rangeLength = $("#length").val();
            if (featureRangeT.length == 0 || featureRangeT[featureRangeT.length - 1] < time ||
                (featureRangeT[rangeLength] > time && time > featureRangeT[featureRangeT.length - 1] - featureRangeT[0])) {
                chartIsReady = false;
                $("#recording_audio")[0].pause();
                $("#loading").show();
                getFeatureRange();
            } else {
                var nextIndex = 0;
                for (; nextIndex < featureRangeT.length && featureRangeT[nextIndex] < time; ++nextIndex) {}
                var nextTime = featureRangeT[nextIndex];
                if (nextTime - time > 1.0) {
                    $("#recording_audio")[0].pause();
                    $("#recording_audio")[0].currentTime = nextTime - 0.5;
                    $("#recording_audio")[0].play();
                }
            }
        }

        function updateChart() {
            if (!chartIsReady)
                return;
            var time = $("#recording_audio")[0].currentTime;
            for (featureEndIndex = 0; featureEndIndex < featureRangeT.length && featureRangeT[featureEndIndex] < time; ++featureEndIndex) {}
            featureStartIndex = Math.max(featureEndIndex - $("#length").val(), 0);
            chart.data.datasets[0].data = [];
            for (var i = featureStartIndex; i < featureEndIndex; ++i) {
                chart.data.datasets[0].data.push({
                    x: featureRangeX[i],
                    y: featureRangeY[i]
                });
            }
            $("#speaker_label").text("Speaker " + featureRangeLabels[i]);
            chart.update();
            $("#loading").hide();
        }

        function getFeatureSample() {
            $.ajax({
                type: "GET",
                url: "visualize_feature",
                dataType: "json",
                data: {
                    recording_id: $("#recording_id_option").val(),
                    feature: $("#feature_option").val(),
                    sample: true,
                    limit: $("#sample").val(),
                    x_axis: $("#x_axis").val(),
                    y_axis: $("#y_axis").val()
                },
                success: function(data) {
                    featureSampleT = data.t;
                    featureSampleX = data.x;
                    featureSampleY = data.y;
                    chart.data.datasets[1].data = [];
                    for (var i = 0; i < data.t.length; ++i) {
                        chart.data.datasets[1].data.push({
                            x: data.x[i],
                            y: data.y[i]
                        });
                    }
                    chart.update();
                }
            });
        }

        function getFeatureRange() {
            $.ajax({
                type: "GET",
                url: "visualize_feature",
                dataType: "json",
                data: {
                    recording_id: $("#recording_id_option").val(),
                    feature: $("#feature_option").val(),
                    start: $("#recording_audio")[0].currentTime,
                    limit: $("#buffer").val(),
                    x_axis: $("#x_axis").val(),
                    y_axis: $("#y_axis").val()
                },
                success: function(data) {
                    featureRangeT = data.t;
                    featureRangeX = data.x;
                    featureRangeY = data.y;
                    featureRangeLabels = data.labels;
                    chartIsReady = true;
                }
            });
        }

        function displayPoint(elements) {
            $("#point_label").text("");
            if (featureSampleX.length == 0)
                return;
            for (var i = 0; i < elements.length; ++i) {
                if (elements[i]._datasetIndex == 1) {
                    var j = elements[i]._index;
                    var t = featureSampleT[j];
                    var x = featureSampleX[j];
                    var y = featureSampleY[j];
                    $("#point_label").text("Jump To: " + t.toFixed(0) + "s (" + x.toFixed(2) + ", " + y.toFixed(2) + ")");
                }
            }
        }

        function selectPoint(elements) {
            if (featureSampleX.length == 0)
                return;
            for (var i = 0; i < elements.length; ++i) {
                if (elements[i]._datasetIndex == 1) {
                    var j = elements[i]._index;
                    var t = featureSampleT[j];
                    $("#recording_audio")[0].pause();
                    $("#recording_audio")[0].currentTime = t;
                    updatePosition();
                }
            }
        }

        $().ready(function() {
            var ctx = $("#myChart");
            chart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    title: {
                        display: true,
                        text: "Data Visualizer"
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom'
                        }]
                    },
                    tooltips: {
                        enabled: false
                    },
                    hover: {
                        onHover: displayPoint,
                        mode: 'point'
                    },
                    animation: false
                }
            });
            $("#myChart")[0].onclick = function(evt) {
                selectPoint(chart.getElementsAtEvent(evt));
            };
            $("#recording_audio").bind("timeupdate", updatePosition);
            setInterval(updateChart, 33);
        });
        </script>
    </head>
    <body style="width: 100%">
        <div id="sidebar">
            <label>Recording Id</label>
            <br />
            <select id="recording_id_option" onchange="updateRecording()">
                <option value="None">Select Recording</option>
                {% for recording in recordings %}
                <option value="{{ recording.id }}">{{ recording.id }}</option>
                {% endfor %}
            </select>
            <br />
            <label>Feature</label>
            <select id="feature_option" onchange="updateFeature()">
            </select>
            <br />
            <label>X Axis</label>
            <input type="text" id="x_axis" onchange="updateFeature()" size="5" value="0" />
            <br />
            <label>Y Axis</label>
            <input type="text" id="y_axis" onchange="updateFeature()" size="5" value="1" />
            <br />
            <label>Length</label>
            <input type="text" id="length" maxlength="5" size="5" value="10" />
            <br />
            <label>Sample</label>
            <input type="text" id="sample" maxlength="5" size="5" value="500" />
            <br />
            <label>Buffer</label>
            <input type="text" id="buffer" maxlength="5" size="5" value="10000" />
        </div>
        <div id="content">
            <canvas id="myChart" width="600" height="480"></canvas>
            <audio controls id="recording_audio" src="" preload="auto"></audio>
            <div id="point_label"></div>
            <div id="speaker_label"></div>
            <div id="loading">Loading...</div>
        </div>
    </body>
</html>
