<html style="width: 100%">
	<head>
		<title>Data Manager</title>
		<style>
th {
	border: 1px solid grey;
}
td {
	border: 1px solid grey;
	padding: 2px;
}
		</style>
	</head>
	<body style="width: 100%">
		{% load static %}
		<div id="content" style="border: solid 2px darkgray; width: 640px; margin: 0 auto; padding: 8px;">
			<a href="{% url 'index' %}">Home</a>
			<h2>IVFCR Data Manager</h2>
			<form method="get" action="data_manager/export">
				<table style="border: solid 1px grey;">
					<tr>
						<th>Child Id</th>
						<th>Recording Id</th>
						<th>Directory</th>
						<th></th>
					</tr>
					{% for recording in recordings %}
					<tr>
						<td>{{ recording.child_id }}</td>
						<td>{{ recording.id }}</td>
						<td>{{ recording.directory }}</td>
						<td><button name="submit" type="submit" value="{{ recording.id }}" />Export</td>
					</tr>
					{% endfor %}
				</table>
				<div>
					<h4 style="margin: 0;">Export Options</h4>
					<label>Format</label>
					<select id="format_type_option" name="export_format">
						{% for type in export_formats %}
						<option>{{ type }}</option>
						{% endfor %}
					</select>
					<br />
					<label>Speakers</label>
					<select multiple id="speakers_option" name="export_speakers">
						{% for speaker in export_speakers %}
						<option>{{ speaker }}</option>
						{% endfor %}
					</select>
					<br />
					{% for column in export_columns %}
					<label for="export_{{ column }}">{{ column }}</label>
					<input name="export_{{ column }}" id="export_{{ column }}" type="checkbox" />
					{% endfor %}
                    <br />
					{% for column in acoustic_columns %}
					<label for="export_{{ column }}">{{ column }}</label>
					<input name="export_{{ column }}" id="export_{{ column }}" type="checkbox" />
					{% endfor %}
				</div>
			</form>
			<form method="get" action="data_manager/import">
				<div>
					<h4 style="margin-bottom: 0;">Import Recording</h4>
					<label>Recording Id</label>
					<input name="add_recording_id" type="text" />
					<br />
					<label>Directory</label>
					<input name="add_recording_directory" type="text" />
					<br />
					<input name="submit" type="submit" value="import" />
					<p style="color: red; font-weight: bold;">{{ error }}</p>
				</div>
			</form>
			<form method="get" action="data_manager/save_audio_feature">
				<h4 style="margin-bottom: 0;">Save Audio Features</h4>
				<label>Recording Id</label>
				<select id="feature_recording_id_option">
					{% for recording in recordings %}
					<option>{{ recording.id }}</option>
					{% endfor %}
				</select>
				<br />
				<label>Feature</label>
				<input name="feature" type="text" />
				<br />
				<label>Filename</label>
				<input name="save_feature_file" type="file" />
				<br />
				<input name="submit" type="submit" value="save_feature" />
			</form>
		</div>
	</body>
</html>
