<html style="width: 100%">
	<body style="width: 100%">
		<div id="content" style="border: solid 2px darkgray; width: 320px; margin: 0 auto; padding: 8px;">
			<h3>Infant Vocalization as Foraging Tasks</h3>
			<ul>
				<!--<li><a href="{% url 'speaker_validation' %}">Speaker Validation Task</a></li>-->
				<li><a href="{% url 'vocal_categorization' %}">Vocal Categorization Task</a></li>
				<li><a href="{% url 'data_manager' %}">Data Manager</a></li>
				<li><a href="{% url 'data_visualizer' %}">Data Visualizer</a></li>
			</ul>
		</div>
	</body>
</html>
