<html style="width: 100%">
	<head>
		<title>Speaker Identification</title>
		<style type="text/css">
.speaker-label {
	border: 1px blue solid;
	color: black;
	background-color: lightblue;
	padding: 2px;
	display: inline-block;
	width: 200px;
}
		</style>
		<script type="text/javascript">
		var speakers = [
		{% for spk in speakers %}
		'{{ spk.0 }}',
		{% endfor %}];

		function keyHandler(event) {
			var speakerCode = event.keyCode - 49;
			if (speakerCode >= 0 && speakerCode < speakers.length) {
				var element = document.getElementById('speaker_' + speakers[speakerCode]);
				element.checked = !element.checked;
			}
		}

		document.addEventListener('keypress', keyHandler);
		</script>
	</head>
	<body style="width: 100%">
		{% load static %}
		<div id="content" style="border: solid 2px darkgray; width: 320px; margin: 0 auto; padding: 8px;">
			<form>
				<a href="{% url 'index' %}">Home</a>
				<h4>Infant Vocalization Speaker Identification</h4>
				<p><span style="font-style: italic; color: black;"
					title="The speaker identification task is intended to generate correct speaker labels for segments of LENA recordings.
- Enter your name in the Coder field below.
- Listen to the sound by clicking the play button.
- If you hear only a single speaker and minimal other noise, select the speaker.
- If you hear multiple speakers, select each speaker you heard.
- When you are ready, click the submit button to move onto the next sound.
- Click the Previous or Next button to skip this sound.">
					Instructions</span></p>
				<label for="coder_field">Name:</label>
				<select id="coder_field" name="coder">
					{% if coder != '' %}
					<option>{{ coder }}</option>
					{% else %} 
					{% for cdr in coders %}
					<option {% if cdr == coder %}selected='true'{% endif %} >{{ cdr }}</option>
					{% endfor %}
					{% endif %}
				</select>
				<br />
				<label for="recording_id_field">Recording:</label>
				<select id="recording_id_field" name="recording_id">
					{% for rec in recordings %}
					<option {% if rec == recording %}selected='true'{% endif %} >{{ rec.id }}</option>
					{% endfor %}
				</select>
				<input type="submit" name="submit" value="Update" style="display: inline;" />
				<div style="{% if '' == segment_file %} display: none; {% endif %}" >
					<audio controls style="padding: 1em 4px;">
						<source src="{% static segment_file %}" type="audio/wav" />
					</audio>
					<input name="segment_id" type="hidden" value="{{ segment.id }}" />
					<label>Child: </label>
					<div style="display: inline-block;" >{{segment.recording.child.id}}</div>
					<br />
					<label>Recording: </label>
					<div style="display: inline-block;" >{{ segment.recording.id }}</div>
					<br />
					<label>Number: </label>
					<div style="display: inline-block;" >{{ segment.number }} ({{ percent_complete }}%)</div>
					<progress value="{{ percent_complete }}" max="100"></progress>
					<br />
					<label>Whose voices do you hear in this segment?</label>
					<div style="margin: 4px;">
						{% for spk in speakers %}
						<div style="margin: 8px 4px;">
							<input id="speaker_{{ spk.0 }}" name="speaker" type="checkbox" value="{{ spk.0 }}" {% if spk.0 in selected_speakers %}checked='true'{% endif %} />
							<label for="speaker_{{ spk.0 }}" class="speaker-label">{{ spk.1 }}</label>
							<br />
						</div>
						{% endfor %}
					</div>
					<label for="sensitive">Does this segment contain
						<span style="font-style: italic; color: blue;"
							title="Some examples of what should be marked are listed below. This is not a complete list, so in questionable cases ask your supervisor for help. Please be conservative: 'When in doubt, hold it out.'
	- Last/family names (first names, including uncommon ones, are okay)
	- Addresses or other contact information
	- Birthdates
	- Social security, credit card, etc.. numbers
	- Serious arguments
	- Sexual activity or sounds of adults pooping
	- Discussion of drug use
	- Complaints about friends, family members, coworkers, etc.
	- Medical information of a sensitive nature">
						sensitive material?</span></label>
					<input name="sensitive" type="checkbox" value="true" {% if selected_sensitive %}checked='true'{% endif %} />
					<br />
					<input type="submit" name="submit" value="Previous" style="display: inline;" />
					<input type="submit" name="submit" value="Save" style="display: inline;" />
					<input type="submit" name="submit" value="Skip" style="display: inline;" />
					<label style="font-color: red;">{{ error }}</label>
				</div>
			</form>
		</div>
	</body>
</html>
